*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    background-color: rgb(247 219 253 / 8%);
}
button {
    background-color: black;
    color: #fff;
    letter-spacing: 4px;
    padding: 5px 20px;
    border-radius: 9px;
    font-size: 1.2rem;
    margin-top: 20px;
}
button:hover{
    cursor: pointer;
}
/* -------------------------------Header-section-------------------------------------- */

.header {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header h1{
    font-size: 1.6rem;
}
.header img{
    width: 100px;
}

/* ----------------------------------------Score-Section-------------------------------- */
.score-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.score {
    border: 4px solid black;
    width: 13%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 65px;
    background-color: #fff;
}
.score span{
    font-size: 2.6rem;
    text-align: center;
}

/* -----------------------------------------Image-Section----------------------------- */

.row{
    display: flex;
    /* border: 1px solid green; */
    width: 70%;
    margin: auto;
    justify-content:space-evenly;
    gap: 50px;
    margin-top: 30px;
}
.row .col{
    border: 3px solid black;
    background-color: #fff;
    padding: 40px;
    width: 45%;
    margin: auto;
    height: 350px;
}
.row .col img {
    width: 200px;
    /* border: 1px solid black; */
    margin: 25px 115px;
}
.row .col h2 {
    text-align: center;
    margin-top: -36px;
}
/*-------------------------------Choice----------------------------------------*/

.choice{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 50px;
}
select {
    width: 154px;
    font-size: 1.2rem;
    padding: 6px 9px;
    border-radius: 8px;
}

/* ------------------------play-Btn------------------------------- */

.play-bt{
    /* border: 1px solid red; */
    text-align: center;
}
